block variables
doctype html
html
    head 
        title #{title}
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Raleway')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel="icon" href="https://media-exp1.licdn.com/dms/image/C4D0BAQFnYiJueQ6QDQ/company-logo_200_200/0/1610710355097?e=2159024400&v=beta&t=wiu-N2M9KJNtVFAQVNy6ZglxoXleG57Wgj61TFnyGGI")
        style.
            html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
        block content